@font-face {
    font-family: "Raleway" ;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"Rubik" ;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family:"Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.main-container {
    flex-grow:1;
}

.navigation {
    display:flex;
    flex-direction: column;
    width: 1160px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFE17F;
}

.upper-navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 96px;
    margin-right: 25px;
    margin-bottom: 49px;
    padding: 0;
    width: 1075px;
    justify-content: space-between;
    list-style-type: none;
}

.search {
    width: 200px;
    margin-left: 49px;
}

.enter {
    margin-right: 25px;
}

.compare {
    width: 120px;
    margin-right: 14px;;
}

.upper-navigation-link{
    display: block;
    padding: 10px;
    width: 220px;
}

.under-navigation-item {
    margin: 0;
    padding:0;
}

.under-navigation-list {
    display: flex;
    width: 1041px;
    justify-content: space-between;
    margin-left: 60px;
    margin-bottom: 123px;
    margin-right: 59px;
    list-style-type: none;
}

.under-navigation-link{
    display: block;
    padding: 15px 0;
}

.catalog {
    margin-right: 304px;
}

.delivery {
    margin-right: 19px;
}

.garanty {
    margin-right: 62px;
}

.product-slide {
    display:flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.slide-description {
    width: 560px;
}

.slider-image {
    margin-right: 40px;
}

.emphasise {
    padding: 0;
    margin-top: 0;
    margin-bottom:19px;
}

.description {
    padding:0;
    margin-top:0;
    margin-bottom: 30px;
    width: 560px;
}

.more-detailed {
    margin-top:0;
    margin-bottom: 70px;
}

.features {
    width: 360px;
}

.numerical-value {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 13px; 
}
.row-name {
    display: block;
    padding:0;
    margin-top: 0;
    margin-bottom: 109px; 
}

.metre-value {
    margin-right: 57px; /* Почему-то не применяется*/
}

.goods-catalog-item {
    margin-top: 0;
    margin-bottom: 33px;
    margin-right: 40px;
}

.goods-catalog-item:last-child {
    margin-right: 0;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.goods-catalog-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-top: 0;
    margin-bottom: 139px;
    padding: 0;
    list-style-type: none;
}


.goods-catalog-item {
    width: 160px;
}

.switch-container {
    width: 1094px;
    margin-left:140px;
    margin-right: 206px;
}

.section-switching {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 280px;
}

.service-slider {
    width: 814px;
}

.slider-header {
    padding: 0;
    margin-top:0;
    margin-bottom: 14px;
}

.slider-description {
    margin-top: 0;
    margin-bottom: 69px;
    margin-right: 61px;
}

.additional-services {
    margin-bottom: 90px;
}

.main-feature {
    margin-top:0;
    margin-bottom: 146px; /*Почему-то не применяется*/
}

.section-header {
    margin-top: 0;
    margin-bottom: 26px;
}

.paragraph-first {
    margin-top: 0;
    margin-bottom: 30px;
}

.paragraph {
    margin-top:0;
    margin-bottom: 60px;
}

.delivery-companies-list {
    padding: 0;
    margin-top:0;
    margin-bottom: 52px;
}

.contact-paragraph {
    margin-top: 0;
    margin-bottom: 30px;

}

.mini-section-header {
    margin-top: 0;
    margin-bottom: 15px;
}

.main-page-address {
    margin-top:0;
    margin-bottom: 30px;
}

.work-day-time {
    margin-top:0;
    margin-bottom: 67px;
}

.contact {
    margin-top:0;
    margin-bottom: 87px; /* Кнопка "Напишите нам все равно прижата к низу раздела, не могу понять почему =("*/
}

.subcribe-header {
    margin-top: 75px;
    margin-right: 40px;
    margin-bottom: 53px;
}

.subcribe-description {
    margin-top: 86px;
    margin-bottom: 50px;
}

.information-container {
    width: 1140px;
}

.about-us {
    width: 560px;
    margin: 0;
    padding:0;
}

.contacts {
    width: 560px;
    margin:0;
    padding:0;
}

.main-feature {
    width: 1160px;
    background-color:#F0F0F0;
    margin: 0 auto;
    text-align: center;
}

.subcribe-container {
    flex-direction: row; 
    flex-wrap: wrap;
    margin-left: 140px;
    margin-bottom: 134px;
}

.subcribe-container-item {
    width: 560px;
}

.page-footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.yellow-logo {
    margin-top: 62px;
    margin-left: 138px;

    margin-bottom: 35px
}

.subcribe {
    background-color: #F0F0F0;
}

footer {
    background-color: #444444;  
}

.under-navigation-link {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
}

.upper-navigation-link {
    font-size: 16px;
    line-height: 19px;
    color:#000000;
    text-decoration: none;
}

.emphasise {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
}

.slider-header {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
}

.goods-catalog-item-link {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    text-decoration: none;
}

.numerical-value {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.row-name {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
}

.button {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color:#000000;
    background-color:#FFC700;
}

.section-header {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
}

.mini-section-header {
    font-family:"Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

li .current-section-button {
    color: #FFE17F;
    background-color: #000000;
}

.contact-phone {
    color: #444444;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.virtual-reality {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/virtual-reality-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.monopode {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/selfie-monopode-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.action-camera {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/action-camera-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.fitnes-watch {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/fitness-bracelet-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.smart-watch {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/smart-watches-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.quadrico {
    background-color: #FFE17F;
    background-image: url("../img/catalog-item/quadrico-item.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 160px;
    height: 160px;
}

.delivery-item {
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    width: 136px;
    height: 164px;
}

.garanty-item {
    background-image: url("../img/garanty.svg");
    background-repeat: no-repeat;
    width: 171px;
    height: 195px;
}

.credit-item {
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    width: 156px;
    height: 188px;
}

.img:hover {
    background-color:#FFC700; 
}

.car-item {
    background-color: #FFE17F;
    background-image: url("../img/car-item.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 47px;
    height: 31px;
}

.more-information {
    background-color: #DCDCDC80;
    background-image: url("../img/info-item.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

footer {
    color: #FFFFFF;
}

.footer-address {
    width: 238px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    margin-left: 139px;
    margin-right: 114px;
    margin-bottom: 150px;
}

.additional-page-list {
    width: 458px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 0;
    margin-right: 58px;
    margin-bottom: 63px;
    margin-top: 137px;
    list-style-type: none;
}

.footer-contact-phone {
    min-width: 293px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    margin-top: 133px;
    margin-left: 0;
    margin-right: 140px;
    margin-bottom: 53px;

}

.additional-page-link {
    padding: 5px;
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.additional-page-item {
    flex-shrink: 0; 
    margin-right: 7px; /*Почему-то задаю margin , а отступы все равно больше, чем надо*/
}

.additional-page-item:last-child {
    margin-right: 7px;
}

.socialmedia-list  {
    list-style-type: none;
    display: flex; /*Не понимаю, почему не применяется флекс к списку*/
    padding: 0;
    margin-top: 0;
    margin-bottom: 61px;
    margin-left: 0;
    margin-right: 392px;
}

.htmlacademy-logo {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 139px; /*Не применяются отступы*/
    margin-bottom: 64px; 
}

.main-feature b {
    background-color: #F0F0F0;
}

.inner-header-title {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 37px;
    margin-bottom: 14px;
}

.links-onthepage-link {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.inner-header {
    background-color: #FFFFFF;
}

.catalog-filter-section {
    background-color:#E5E5E5;
}

.catalog-filter {
    font-family:"Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.filter-page-header {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.product-card-link {
    font-family:"Rubik", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.product-card-price {
    font-size: 18px;
    line-height: 22px;
}

.pagination-link {
    font-size: 16px;
    line-height: 19px;
    color: #444444;
    text-decoration: none;
}

.pagination-prev,.pagination-next {
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.page-pagination {
    background-color: #EBEBEB;
    list-style-type: none;
    padding-left: 29px;
    padding-right: 30px;
    padding-top: 27px;
    padding-bottom: 24px;
}

/* Сетка для страницы каталога */


.header-menu {
    display: flex;
    width: 560px;
    margin-left: 200px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.links-onthepage-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    margin-bottom: 49px;
    list-style-type: none
}

.links-onthepage-link {
    padding: 5px;
}

.links-onthepage-item {
    margin-right: 30px;
}

.sorting-section {
    display: flex;
    padding-left: 72px;
    padding-right: 140px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EBEBEB;
}

.button-ascending {
    margin-left: auto;
    width: 19px;
    margin-right: 19px;
}

.button-descending {
    width: 19px;
}

.select-control {
    margin-left: 52px;
}


.catalog-container {
    display: flex;
    margin: 0 auto;
}

.catalog-filter-section {
    width: 468px;
}

.catalog-filter-container {
    width: 972px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin-left: 72px;
    margin-right: 140px;
    margin-top: 69px;
    padding: 0;
    list-style-type: none;
}

.product-card {
    padding: 0;
}

.product-card:nth-child(1) {
    margin-right: 40px;
}

.product-card:nth-child(3) {
    margin-right: 40px;
}

.page-pagination {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 77px;
    margin-left: 72px;
}

.pagination-item {
    margin-right: 30px;
    flex-shrink: 0;
    width: 19px;
}

.pagination-prev {
    display: block;
    margin-right: auto;
}

.pagination-next {
    margin-left: auto;
}
